<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	   http://www.springframework.org/schema/jdbc  http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

    <bean id="hibernateOrganizationDefinitionDao" class="org.egovframe.rte.itl.integration.metadata.dao.hibernate.HibernateOrganizationDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hibernateSystemDefinitionDao" class="org.egovframe.rte.itl.integration.metadata.dao.hibernate.HibernateSystemDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hibernateServiceDefinitionDao" class="org.egovframe.rte.itl.integration.metadata.dao.hibernate.HibernateServiceDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hibernateRecordTypeDefinitionDao" class="org.egovframe.rte.itl.integration.metadata.dao.hibernate.HibernateRecordTypeDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="hibernateIntegrationDefinitionDao" class="org.egovframe.rte.itl.integration.metadata.dao.hibernate.HibernateIntegrationDefinitionDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <jdbc:embedded-database id="myDataSource" type="HSQL" />

    <!-- <bean id="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:test/test;showdown=true"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean> -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="mappingResources">
            <list>
                <value>/org/egovframe/rte/itl/integration/metadata/dao/hibernate/OrganizationDefinition.hbm.xml</value>
                <value>/org/egovframe/rte/itl/integration/metadata/dao/hibernate/SystemDefinition.hbm.xml</value>
                <value>/org/egovframe/rte/itl/integration/metadata/dao/hibernate/ServiceDefinition.hbm.xml</value>
                <value>/org/egovframe/rte/itl/integration/metadata/dao/hibernate/RecordTypeDefinition.hbm.xml</value>
                <value>/org/egovframe/rte/itl/integration/metadata/dao/hibernate/IntegrationDefinition.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.HSQLDialect
                hibernate.show_sql=false
                hibernate.hbm2ddl.auto=create-drop
            </value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>
