<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd 
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<import resource="abstract/eGovBase.xml" />
 
     <bean id="egovJobVariable" class="egovframework.rte.bat.support.EgovJobVariableListener">
	<property name="pros">
	<props>
		<prop key="JobVariableKey1">JobVariableValue1</prop>
		<prop key="JobVariableKey2">JobVariableValue2</prop>
		<prop key="JobVariableKey3">JobVariableValue3</prop>
	</props>
	</property>
    </bean>
    
    <bean id="egovStepVariable" class="egovframework.rte.bat.support.EgovStepVariableListener">
	<property name="pros">
	<props>
		<prop key="StepVariableKey1">StepVariableValue1</prop>
		<prop key="StepVariableKey2">StepVariableValue2</prop>
		<prop key="StepVariableKey3">StepVariableValue3</prop>
	</props>
	</property>
    </bean>
 
    <bean id="egovResourceVariable" class="egovframework.rte.bat.support.EgovResourceVariable">
	<property name="pros">
		<props>
			<prop key="empNo">7499</prop>
			<prop key="empName">ALLEN</prop>
			<prop key="empNoR">7499</prop>
			<prop key="empNameR">ALLEN</prop>
			<prop key="mgrR">7777</prop>
		</props>
	</property>
	</bean>
	
   	<bean id="dummyTasklet" class="egovframework.rte.bat.core.tasklet.DummyTasklet" scope="step"/>
     <bean id="dummyTasklet1" class="egovframework.rte.bat.core.tasklet.DummyTasklet"/>
     
	<job id="mybatisJob" parent="eGovBaseJob" xmlns="http://www.springframework.org/schema/batch">
	
		<step id="sampleStep" next="mybatisJobStep1">
			<tasklet ref="dummyTasklet1"/>
		</step>
	
		<step id="mybatisJobStep1" parent="eGovBaseStep" next="mybatisJobStep2">
			<tasklet>
				<chunk reader="mybatisJobStep.mybatisItemReader"
					processor="mybatisJobStep.itemProcessor"
					writer="mybatisJobStep.mybatisItemWriter"
					commit-interval="2" />
			</tasklet>
		</step>
		
		<step id="mybatisJobStep2" parent="eGovBaseStep">
			<tasklet>
				<chunk reader="mybatisJobStep.mybatisItemReader"
					processor="mybatisJobStep.itemProcessor"
					writer="mybatisJobStep.delimitedItemWriter"
					commit-interval="2" />
			</tasklet>
		</step>
	</job>

	<bean id="mybatisJobStep.delimitedItemReader"
		class="org.springframework.batch.item.file.FlatFileItemReader" scope="step">
		<property name="resource" value="file:./src/main/resources/egovframework/batch/data/inputs/empData.csv" />
		<property name="lineMapper">
			<bean class="egovframework.rte.bat.core.item.file.mapping.EgovDefaultLineMapper">
				<property name="lineTokenizer">
					<bean class="egovframework.rte.bat.core.item.file.transform.EgovDelimitedLineTokenizer">
						<property name="delimiter" value="," />
					</bean>
				</property>
				<property name="objectMapper">
					<bean class="egovframework.rte.bat.core.item.file.mapping.EgovObjectMapper">
						<property name="type" value="egovframework.example.bat.mapper.EmpVO2" />
						<property name="names" value="empNo, empName, job, mgr, hireDate, sal, comm, deptNo" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="mybatisJobStep.delimitedItemWriter"
	    class="org.springframework.batch.item.file.FlatFileItemWriter" scope="step">
		<property name="resource" value="file:./target/test-outputs/csvOutput_#{new java.text.SimpleDateFormat('yyyyMMddHHmmssSS').format(new java.util.Date())}.txt" />
		<property name="lineAggregator">
			<bean class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
				<property name="delimiter" value="," />
				<property name="fieldExtractor">
					<bean class="egovframework.rte.bat.core.item.file.transform.EgovFieldExtractor">
						<property name="names" value="empNo, empName, job, mgr, hireDate, sal, comm, deptNo" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="mybatisJobStep.mybatisItemReader" class="egovframework.rte.bat.core.item.database.EgovMyBatisPagingItemReader" scope="step">
		<property name="sqlSessionFactory" ref="sqlSession" />
		<!-- <property name="parameterValues" ref="stringParameters" /> -->
		<property name="resourceVariable" ref="egovResourceVariable" />
		<property name="jobVariable" ref="egovJobVariable" />
		<property name="stepVariable" ref="egovStepVariable" />
		<!-- 
		<property name="jobVariable" ref="egovJobVariable" />
		<property name="stepVariable" ref="egovStepVariable" />
		 -->
		<property name="queryId" value="EmpMapper.selectEmpList" />
		<property name="pageSize" value="#{new Integer(10)}" />
	</bean>

	<util:map id="stringParameters" key-type="java.lang.String" value-type="java.lang.String" scope="step">
		<entry key="today" value="#{new java.text.SimpleDateFormat('yyyyMMddHH').format(new java.util.Date())}"/>
		<entry key="empNo" value="7369"/>
		<entry key="empName" value="SMITH"/>
	</util:map>
	
	<bean id="mybatisJobStep.interactionsItemWriter" class="org.springframework.batch.item.support.CompositeItemWriter">
	  <property name="delegates">
	    <list>
	      <!-- Order is important -->
	      <ref bean="mybatisJobStep.mybatisItemWriter"/>
	      <ref bean="mybatisJobStep.delimitedItemWriter"/>
	    </list>
	  </property>
	</bean>

	<bean id="mybatisJobStep.mybatisItemWriter" class="egovframework.rte.bat.core.item.database.EgovMyBatisBatchItemWriter">
		<property name="resourceVariable" ref="egovResourceVariable" />
		
		<property name="jobVariable" ref="egovJobVariable" />
		<property name="stepVariable" ref="egovStepVariable" />
		
		<property name="sqlSessionFactory" ref="sqlSession" />
		<property name="statementId" value="EmpMapper.updateEmp1" />
	</bean>

	<bean id="mybatisJobStep.jdbcItemWriter"
		class="egovframework.rte.bat.core.item.database.EgovJdbcBatchItemWriter">
		<property name="assertUpdates" value="true" />
		<property name="itemPreparedStatementSetter">
			<bean class="egovframework.rte.bat.core.item.database.support.EgovMethodMapItemPreparedStatementSetter" />
		</property>
		<property name="sql" value="UPDATE CUSTOMER set credit = ? where name = ? " />
		<property name="params" value="credit,name" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="mybatisJobStep.itemProcessor"	class="egovframework.rte.bat.mapper.EmpProcessor" />
	<bean id="mybatisJobStep.itemProcessor2"	class="egovframework.rte.bat.mapper.EmpProcessor2" />

</beans>                                                                                                                         