<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="boolean" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="string" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="byte" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="short" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="integer" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="long" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="biginteger" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="float" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="double" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="bigdecimal" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>
    <bean id="calendar" class="egovframework.rte.itl.integration.type.support.PrimitiveTypeFactoryBean"/>

</beans>
